<body>
    <h1 class="title">Job List</h1>
    <hr>
    <div class="navBar">
      <span class="clickLink"><%= link_to("HOME", root_path) %></span>
      <span class="clickLink"><%= link_to("Test", questions_path) %></span>
      <span class="clickLink"><%= link_to("Job List", careers_path) %></span>
      <span class="clickLink"><%= link_to("Contact Us", root_path) %></span>
    </div>
        <div class="jobList">
            <% @careers.each do |career| %>
                <div> <h4><%= career.title %><h4> </div>
                <div> <%= career.description %> </div>
                <div> <%= number_to_currency(career.starting_salary) %> </div>
                <div> <%= number_to_currency(career.potential_salary) %> </div>
                <div> <%= career.education %> <div>
                <div><br /><div>
            <% end %>
        </div>
    <hr>
</body>