<body>
    <h1 class="title">Job List</h1>
    <hr>
        <div class="jobList">
            <% @careers.each do |career| %>
                <div> <h4><%= career.title %><h4> </div>
                <div> <%= career.description %> </div>
                <div> <%= number_to_currency(career.starting_salary) %> </div>
                <div> <%= number_to_currency(career.potential_salary) %> </div>
                <div> <%= career.education %> <div>
                <div><br /><div>
            <% end %>
        </div>
    <hr>
</body>