<a class="btn-outline-info">
  <h1 class="title">Your Job List</h1>
<hr>

<div class="jobList">
  <% @career.each do |car| %>

              <%= image_tag "/images/#{car.title}.jpg", :class => "rounded float-right" %>
  <h1><%= car.title %></h1>
  <p><%= car.description %></p>
  <p><%= "Potential Salary: #{number_to_currency(car.potential_salary)}" %></p>
  <p><%= "Education Requirements: #{car.education}" %></p>
              <div class="spacer"></div>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal<%=car.title.delete(' ').camelize%>">
              See Jobs in Your Area!
              </button>

              <!-- Modal -->
              <div class="modal" id="exampleModal<%=car.title.delete(' ').camelize%>" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><%= car.title %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      ...
                  </div>
                  <div class="modal-footer">
                      <a class="btn btn-success" href="https://www.glassdoor.com/index.htm" role="button">See More Jobs on GlassDoor!</a>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                  </div>
              </div>
              </div>
              <div class="spacer"></div>
              <hr>
              <br />
          <% end %>
      </div>
  <hr>
</div>