<!DOCTYPE html>
<html>
  <head>
    <title>PitchProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div class="navBar">
      <span class="clickLink"><%= link_to("HOME", root_path) %></span>
      <span class="clickLink"><%= link_to("Test", questions_path) %></span>
      <span class="clickLink"><%= link_to("Job List", root_path) %></span>
      <span class="clickLink"><%= link_to("Contact Us", contact_path) %></span>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
