<!DOCTYPE html>
<html>
  <head>
    <title>PitchProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
      <div class="navBar">
          <a name="top"></a>
          <a class="btn btn-outline-info" href="/" role="button">Home</a>
          <a class="btn btn-outline-info" href="/questions" role="button">Take Our Test!</a>
          <a class="btn btn-outline-info" href="/careers" role="button">See Your Next Job!</a>
          <a class="btn btn-outline-info" href="/contact" role="button">Contact Us!</a>

            <% if user_signed_in? %>
              <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-info" %>
            <% end %>
      </div>
      <div class="float-right">
        <%= link_to image_tag("yourNextMoveLogo/smallYnmLogo.jpg"), root_path %>
      </div>
    <div>
      <%= yield %>
      <a class="backToTop btn btn-danger" href="#top">Back to top</a>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
